* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(43, 102, 99);
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .svgbox {
    background: #efae6f;
    border-radius: 40px;
    box-shadow: 10px 15px 20px rgba(4, 39, 9, 0.6),
      -10px -15px 20px rgba(38, 78, 44, 0.5);
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
  
  .item {
    opacity: 0;
  }
  
